*{
    margin:0;padding:0;
    box-sizing: border-box;
<<<<<<< HEAD
    text-decoration: none;
}

=======
    text-transform: capitalize;
    text-decoration: none;
}

<<<<<<< HEAD
>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59
html {
    height: 100%;
    background: no-repeat;
    background-image: linear-gradient(180deg, #5D626C 55%, #EEC754 45%);
<<<<<<< HEAD
=======
=======
body {
    height: 100vh;
    background: no-repeat;
    background: linear-gradient(180deg, #5D626C 55%, #EEC754 45%);
>>>>>>> 265afc6568491817a23fd485241a550d8e8f4384
>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59
    background-size: cover;
    background-position: center
}

header{
    position: fixed;
    top:0;left:0;right:0;
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    padding: 0px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover{
    background-color: #333;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute  ;
    left:0px;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li ul li ul{
    left:200px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}



.logo{
    position: relative;
    padding-left:
    width 50px;
    height: 50px;
}


<<<<<<< HEAD
/* @media(max-width:991px){
=======
<<<<<<< HEAD
/* @media(max-width:991px){
=======






@media(max-width:991px){
>>>>>>> 265afc6568491817a23fd485241a550d8e8f4384
>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59

    header{
        padding: 20px;
    }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59
} */

/* Starting content section */


content{
    display: flex;
    position: relative;
    top:25%; left:20%;
<<<<<<< HEAD
    min-height: 50vh;
    width: 85%;
    height: 90%;
=======
    width: 85%;
>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59
    transform: translate(-15%, 60%);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

content .chef{
<<<<<<< HEAD
    width: 35%;
    height: 100%;
=======
    width: 500px;
    height: 500px;
>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59
}

content .body_first .description{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 5%;
    position: fixed;
    left:30%;top:10%;
    height: 80%;width: 60%;
    font-size: 20px;
}

.description #first_text{
    text-align: center;
<<<<<<< HEAD
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 2%;
    margin-top: 2%;
}
hr{
    margin-bottom: 2%;
    color: black;
}

.description #second_text,#third_text,#forth_text{
    margin-top: 2%;
    text-align: left;
    font-weight: lighter;
    text-align:left
}

.description .odin_face{
    margin-left: 40%;
    width: 17%;
    height: auto;
}

.odin_face:hover,.chef:hover,.logo:hover {
    transform: scale(1.5);
    transition: all 2s;
}
.porridge:hover{
    transform: scale(3);
    transition: all 3s;
}
.description .porridge{
    margin-left: 40%;
    width: 17%;
    height: auto;
}
=======
}

.description #second_text


>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59






/* body .body_first{
    position: fixed;
    top:25vh; left: 25vh;
<<<<<<< HEAD
=======
    background-color: linear-gradient(180deg, #EEC754 45%, #5D626C 55%);
>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59
    display: flex;
    width: 100vh;
    height: 55vh; */
/* } */

<<<<<<< HEAD
=======
=======
}
>>>>>>> 265afc6568491817a23fd485241a550d8e8f4384
>>>>>>> 049c4326b1b98ae2a167c04c348690e75adabf59
